In [13]:
import pandas as pd
import os
from io import StringIO

In [33]:
base_path = os.path.join("..", "dataset", "Data")

for folder in os.listdir(base_path):
    data = {'lat': [], 'lon': [], 'alt': [], 'date': [], 'datestr': [], 'timestr': []}
    for filename in os.listdir(os.path.join(base_path, folder, 'Trajectory')):
        with open(os.path.join(base_path, folder, 'Trajectory', filename)) as file:
            
            for line in file.readlines()[6:]:
                line_data = (line.rstrip().split(','))
                data['lat'].append(line_data[0])
                data['lon'].append(line_data[1])
                data['alt'].append(line_data[3])
                data['date'].append(line_data[4])
                data['datestr'].append(line_data[5])
                data['timestr'].append(line_data[6])

            
    df = pd.DataFrame(data)
    break

df

              lat         lon  alt              date     datestr   timestr
0       39.984702  116.318417  492  39744.1201851852  2008-10-23  02:53:04
1       39.984683   116.31845  492  39744.1202546296  2008-10-23  02:53:10
2       39.984686  116.318417  492     39744.1203125  2008-10-23  02:53:15
3       39.984688  116.318385  492  39744.1203703704  2008-10-23  02:53:20
4       39.984655  116.318263  492  39744.1204282407  2008-10-23  02:53:25
...           ...         ...  ...               ...         ...       ...
173865  40.000403  116.327255  149  39999.3228587963  2009-07-05  07:44:55
173866  40.000433  116.327209  150  39999.3229166667  2009-07-05  07:45:00
173867  40.000443  116.327186  150   39999.322974537  2009-07-05  07:45:05
173868  40.000522  116.327132  149  39999.3230324074  2009-07-05  07:45:10
173869  40.000543  116.327148  150  39999.3230902778  2009-07-05  07:45:15

[173870 rows x 6 columns]