# imports

In [119]:
from DbConnector import DbConnector
import pandas as pd
import numpy as np
import geopy.distance

# Preparation

In [120]:
connection = DbConnector()
db_connection = connection.db_connection
cursor = connection.cursor

Connected to: 8.0.30-0ubuntu0.22.04.1
You are connected to the database: ('sec_assignment',)
-----------------------------------------------

# 1. How many users, activities and trackpoints are there in the dataset (after it is inserted into the database)

In [121]:
tables = ["User", "Activity", "TrackPoint"]

for table_name in tables:
    querry = f"SELECT COUNT(id) FROM {table_name}"
    cursor.execute(querry)
    result = cursor.fetchall()

    print(f"amount of {table_name.lower()}s in table {table_name}: {result[0][0]}")

amount of users in table User: 182
amount of activitys in table Activity: 14718
amount of trackpoints in table TrackPoint: 1280573

# 2. Find the average number of activities per user.

In [122]:
querry = "SELECT COUNT(id) / COUNT(DISTINCT(user_id)) FROM Activity a"
cursor.execute(querry)
result = cursor.fetchall()

print(f"average number of activities per user: {result[0][0]}")

average number of activities per user: 213.3043

# 3. Find the top 20 users with the highest number of activities.

In [123]:
querry = "SELECT user_id from Activity a GROUP BY a.user_id ORDER BY COUNT(a.id) LIMIT 20"
cursor.execute(querry)
result = cursor.fetchall()

for i, user in enumerate(result):
    print(f"{i}: id {user[0]}")

0: id 088
1: id 124
2: id 059
3: id 060
4: id 106
5: id 116
6: id 118
7: id 107
8: id 101
9: id 087
10: id 114
11: id 136
12: id 174
13: id 086
14: id 144
15: id 108
16: id 076
17: id 175
18: id 080
19: id 117

# 4. Find all users who have taken a taxi.

In [124]:
querry = "SELECT DISTINCT(user_id) from Activity WHERE transportation_mode = 'taxi'"
cursor.execute(querry)
result = cursor.fetchall()

for i, user in enumerate(result):
    print(f"{i}: id {user[0]} took a taxi")

0: id 010 took a taxi
1: id 020 took a taxi
2: id 021 took a taxi
3: id 052 took a taxi
4: id 056 took a taxi
5: id 058 took a taxi
6: id 062 took a taxi
7: id 065 took a taxi
8: id 068 took a taxi
9: id 075 took a taxi
10: id 078 took a taxi
11: id 080 took a taxi
12: id 082 took a taxi
13: id 084 took a taxi
14: id 085 took a taxi
15: id 091 took a taxi
16: id 098 took a taxi
17: id 100 took a taxi
18: id 102 took a taxi
19: id 104 took a taxi
20: id 105 took a taxi
21: id 111 took a taxi
22: id 114 took a taxi
23: id 118 took a taxi
24: id 126 took a taxi
25: id 128 took a taxi
26: id 139 took a taxi
27: id 147 took a taxi
28: id 153 took a taxi
29: id 154 took a taxi
30: id 161 took a taxi
31: id 163 took a taxi
32: id 167 took a taxi
33: id 175 took a taxi
34: id 179 took a taxi

# 5. Find all types of transportation modes and count how many activities that are tagged with these transportation mode labels. Do not count the rows where the mode is null.

In [125]:
# If i check on u.has_labels = 0, it doesn't return anything which is weird
# select * from User u join Activity a on u.id = a.user_id where u.has_labels = 0 does not return anything
# It seems that we don't have activity's where transportation_mode = null

querry = """

SELECT COUNT(a.transportation_mode), a.transportation_mode 
from Activity a
JOIN User u ON a.user_id = u.id
WHERE u.has_labels = 1
GROUP BY transportation_mode

"""
cursor.execute(querry)
result = cursor.fetchall()

for i, transportation_mode in enumerate(result):
    print(f"{i}: {transportation_mode[1]} -> {transportation_mode[0]} times taken")

0: bus -> 2853 times taken
1: train -> 299 times taken
2: taxi -> 1179 times taken
3: walk -> 6460 times taken
4: subway -> 813 times taken
5: airplane -> 17 times taken
6: car -> 993 times taken
7: bike -> 2089 times taken
8: boat -> 7 times taken
9: run -> 6 times taken
10: motorcycle -> 2 times taken

# 6.1. Find the year with the most activities.

In [126]:
querry = "SELECT YEAR(start_date_time), COUNT(id) from Activity a GROUP BY YEAR(start_date_time) ORDER BY COUNT(id) DESC LIMIT 1"
cursor.execute(querry)
result = cursor.fetchall()

for i, res in enumerate(result):
    print(f"{i}: {res[0]} was the year with the most activities ({res[1]}).")

0: 2008 was the year with the most activities (8844).

# 6.2. Is this also the year with most recorded hours?

In [127]:
# Not sure if this one is correctly solved -> answer does not seems right?

querry = """

SELECT YEAR(start_date_time), SUM(TIMESTAMPDIFF(HOUR, start_date_time, end_date_time)) AS diff FROM Activity GROUP BY YEAR(start_date_time) ORDER BY diff DESC LIMIT 1

"""
cursor.execute(querry)
result = cursor.fetchall()

for i, res in enumerate(result):
    print(f"{i}: {res[0]} was the year with the most recorded hours ({res[1]}).")

0: 2008 was the year with the most recorded hours (4807).

# 7. Find the total distance (in km) walked in 2008, by user with id=112.

In [128]:
querry = """

SELECT tp.lat, tp.lon FROM TrackPoint tp
JOIN Activity a ON tp.activity_id = a.id
WHERE a.user_id = 112 AND YEAR(a.start_date_time) = 2008 AND a.transportation_mode = 'walk'

"""
cursor.execute(querry)
result = cursor.fetchall()

total_distance = 0
for i in range(len(result) - 1):
    total_distance += geopy.distance.geodesic((result[i][0], result[i][1]),  (result[i+1][0], result[i+1][1])).km

print(f"The total disctance walked by user with id 112 in 2008 is {total_distance} km")

The total disctance walked by user with id 112 in 2008 is 254.01663266401002 km

# 8. Find the top 20 users who have gained the most altitude meters.  
- Output should be a table with (id, total meters gained per user).   
- Remember that some altitude-values are invalid  
- Tip:  ∑ (𝑡𝑝 𝑛.𝑎𝑙𝑡𝑖𝑡𝑢𝑑𝑒−𝑡𝑝 𝑛−1.𝑎𝑙𝑡𝑖𝑡𝑢𝑑𝑒), 𝑡𝑝 𝑛.  𝑎𝑙𝑡𝑖𝑡𝑢𝑑𝑒 >
𝑡𝑝 𝑛−1.𝑎𝑙𝑡𝑖𝑡𝑢𝑑𝑒

In [129]:
querry = """

SELECT a.user_id, 
tp.altitude
FROM TrackPoint tp
JOIN Activity a ON tp.activity_id = a.id
WHERE tp.altitude <> -777
ORDER BY a.user_id ASC
"""
cursor.execute(querry)
result = cursor.fetchall()

In [130]:
df = pd.DataFrame(result, columns=["id", "elevation"])
df["meter_gained"] = df.groupby(by=["id"]).diff()

df = df.groupby(by=["id"]).sum().sort_values(by=["meter_gained"], ascending=False).head(20).reset_index()
df.drop(["elevation"], axis=1, inplace=True)
df.rename(columns={"id": "id", "meter_gained": "total meters gained per user"}, inplace=True)
print("20 users who have gained the most altitude meters:")
df

20 users who have gained the most altitude meters:

     id  total meters gained per user
0   111                        4663.0
1   101                        1582.0
2   060                         699.0
3   174                         370.0
4   078                         258.0
5   067                         201.0
6   021                         191.0
7   010                         177.0
8   062                         151.0
9   087                         151.0
10  084                         146.0
11  170                         146.0
12  175                         135.0
13  154                         105.0
14  108                          91.0
15  092                          82.0
16  161                          75.0
17  126                          62.0
18  107                          59.0
19  179                          54.0

# 9. Find all users who have invalid activities, and the number of invalid activities per user  
- An invalid activity is defined as an activity with consecutive trackpoints 
where the timestamps deviate with at least 5 minutes.

In [131]:
querry = """

WITH cte(act_id, date_time, diff_in_time)
AS(
    SELECT activity_id,
    date_time,
    TIMESTAMPDIFF(MINUTE, LAG(date_time, 1) OVER (ORDER BY date_time), date_time)
    FROM TrackPoint
)

SELECT DISTINCT(a.id),
a.user_id,
cte.date_time,
cte.diff_in_time
FROM Activity a
JOIN cte ON cte.act_id = a.id
JOIN TrackPoint tp ON a.id = tp.activity_id
WHERE cte.diff_in_time > 5 OR cte.diff_in_time < -5

"""

cursor.execute(querry)
result = cursor.fetchall()

In [132]:
df = pd.DataFrame(result, columns=["activity_id", "id", "time", "diff_in_time"])
# df = df.groupby(by=["activity_id"])   # 3669, 4
df.drop(["time", "diff_in_time"], axis=1, inplace=True)
df.drop_duplicates(keep="first", inplace=True)
dict = df.groupby(by=["id"]).count().reset_index().set_index('id').T.to_dict('list')   # 010 -> 88, 020 -> 85

print("-------------------------------------------------------")
print(f"There are {len(dict)} users with invalid activities")
print("-------------------------------------------------------")

for id in dict:
    print(f"user with id {id} has {dict[id][0]} invalid activities.")

-------------------------------------------------------
There are 63 users with invalid activities
-------------------------------------------------------
user with id 010 has 88 invalid activities.
user with id 020 has 85 invalid activities.
user with id 021 has 9 invalid activities.
user with id 052 has 34 invalid activities.
user with id 053 has 9 invalid activities.
user with id 056 has 12 invalid activities.
user with id 058 has 15 invalid activities.
user with id 060 has 1 invalid activities.
user with id 062 has 255 invalid activities.
user with id 064 has 10 invalid activities.
user with id 065 has 19 invalid activities.
user with id 067 has 10 invalid activities.
user with id 068 has 196 invalid activities.
user with id 069 has 7 invalid activities.
user with id 073 has 26 invalid activities.
user with id 075 has 4 invalid activities.
user with id 076 has 4 invalid activities.
user with id 078 has 29 invalid activities.
user with id 080 has 7 invalid activities.
user with id 081 has 14 invalid activities.
user with id 082 has 26 invalid activities.
user with id 084 has 105 invalid activities.
user with id 085 has 347 invalid activities.
user with id 086 has 4 invalid activities.
user with id 087 has 3 invalid activities.
user with id 089 has 11 invalid activities.
user with id 091 has 33 invalid activities.
user with id 092 has 7 invalid activities.
user with id 096 has 28 invalid activities.
user with id 097 has 13 invalid activities.
user with id 098 has 11 invalid activities.
user with id 100 has 1 invalid activities.
user with id 101 has 3 invalid activities.
user with id 102 has 30 invalid activities.
user with id 104 has 1 invalid activities.
user with id 105 has 14 invalid activities.
user with id 106 has 1 invalid activities.
user with id 107 has 3 invalid activities.
user with id 108 has 2 invalid activities.
user with id 110 has 2 invalid activities.
user with id 111 has 16 invalid activities.
user with id 112 has 65 invalid activities.
user with id 115 has 57 invalid activities.
user with id 117 has 6 invalid activities.
user with id 125 has 36 invalid activities.
user with id 126 has 89 invalid activities.
user with id 128 has 399 invalid activities.
user with id 129 has 5 invalid activities.
user with id 136 has 2 invalid activities.
user with id 138 has 16 invalid activities.
user with id 139 has 21 invalid activities.
user with id 141 has 4 invalid activities.
user with id 144 has 5 invalid activities.
user with id 147 has 1 invalid activities.
user with id 153 has 282 invalid activities.
user with id 154 has 23 invalid activities.
user with id 161 has 11 invalid activities.
user with id 163 has 134 invalid activities.
user with id 167 has 171 invalid activities.
user with id 170 has 3 invalid activities.
user with id 174 has 2 invalid activities.
user with id 175 has 6 invalid activities.
user with id 179 has 32 invalid activities.

# 10. Find the users who have tracked an activity in the Forbidden City of Beijing.  
- In this question you can consider the Forbidden City to have coordinates that correspond to: lat 39.916, lon 116.397.

In [133]:
querry = """

SELECT *
FROM Activity a
JOIN TrackPoint tp ON a.id = tp.activity_id
WHERE tp.lat BETWEEN 39.915 AND 39.917 AND tp.lon BETWEEN 116.396 AND 116.398

"""

cursor.execute(querry)
result = cursor.fetchall()
result

[]

# 11.  Find all users who have registered transportation_mode and their most used transportation_mode.  
- The answer should be on format (user_id, most_used_transportation_mode) sorted on user_id. 
- Some users may have the same number of activities tagged with e.g. walk and car. In this case it is up to you to decide which transportation mode to include in your answer (choose one). 
- Do not count the rows where the mode is null.

In [134]:
querry = """

SELECT a.user_id,
COUNT(a.transportation_mode),
a.transportation_mode
from Activity a
JOIN User u ON a.user_id = u.id
WHERE u.has_labels = 1
GROUP BY a.user_id, a.transportation_mode
ORDER BY COUNT(a.transportation_mode) DESC

"""

cursor.execute(querry)
result = cursor.fetchall()

In [141]:
df = pd.DataFrame(result, columns=["user_id", "amount_used", "transportation_mode"])
df.drop_duplicates(keep="first", subset=["user_id"], inplace=True)
df.sort_values(by=["user_id"], ascending=True, inplace=True)

dict = df.set_index('user_id').T.to_dict('list')
for id in dict:
    print(f"user with id {id} most used transportation_mode is {dict[id][1]} ({dict[id][0]} times)")

user with id 010 most used transportation_mode is walk (153)
user with id 020 most used transportation_mode is bike (102)
user with id 021 most used transportation_mode is car (10)
user with id 052 most used transportation_mode is bus (222)
user with id 053 most used transportation_mode is walk (14)
user with id 056 most used transportation_mode is bike (22)
user with id 058 most used transportation_mode is walk (11)
user with id 059 most used transportation_mode is walk (1)
user with id 060 most used transportation_mode is walk (2)
user with id 062 most used transportation_mode is bus (338)
user with id 064 most used transportation_mode is walk (24)
user with id 065 most used transportation_mode is bike (106)
user with id 067 most used transportation_mode is walk (63)
user with id 068 most used transportation_mode is bike (573)
user with id 069 most used transportation_mode is walk (8)
user with id 073 most used transportation_mode is walk (53)
user with id 075 most used transportation_mode is walk (182)
user with id 076 most used transportation_mode is car (11)
user with id 078 most used transportation_mode is walk (77)
user with id 080 most used transportation_mode is walk (5)
user with id 081 most used transportation_mode is walk (30)
user with id 082 most used transportation_mode is walk (74)
user with id 084 most used transportation_mode is walk (235)
user with id 085 most used transportation_mode is walk (761)
user with id 086 most used transportation_mode is car (7)
user with id 087 most used transportation_mode is walk (6)
user with id 088 most used transportation_mode is bus (1)
user with id 089 most used transportation_mode is car (31)
user with id 091 most used transportation_mode is walk (104)
user with id 092 most used transportation_mode is walk (22)
user with id 096 most used transportation_mode is bike (74)
user with id 097 most used transportation_mode is bike (25)
user with id 098 most used transportation_mode is walk (15)
user with id 100 most used transportation_mode is walk (6)
user with id 101 most used transportation_mode is car (4)
user with id 102 most used transportation_mode is walk (30)
user with id 104 most used transportation_mode is bus (62)
user with id 105 most used transportation_mode is walk (14)
user with id 106 most used transportation_mode is car (3)
user with id 107 most used transportation_mode is walk (4)
user with id 108 most used transportation_mode is walk (5)
user with id 110 most used transportation_mode is walk (10)
user with id 111 most used transportation_mode is taxi (10)
user with id 112 most used transportation_mode is walk (170)
user with id 114 most used transportation_mode is taxi (4)
user with id 115 most used transportation_mode is car (130)
user with id 116 most used transportation_mode is bike (3)
user with id 117 most used transportation_mode is walk (11)
user with id 118 most used transportation_mode is car (4)
user with id 124 most used transportation_mode is bus (1)
user with id 125 most used transportation_mode is bike (50)
user with id 126 most used transportation_mode is walk (240)
user with id 128 most used transportation_mode is car (452)
user with id 129 most used transportation_mode is walk (5)
user with id 136 most used transportation_mode is walk (7)
user with id 138 most used transportation_mode is walk (19)
user with id 139 most used transportation_mode is walk (16)
user with id 141 most used transportation_mode is walk (68)
user with id 144 most used transportation_mode is car (6)
user with id 147 most used transportation_mode is walk (131)
user with id 153 most used transportation_mode is walk (626)
user with id 154 most used transportation_mode is walk (32)
user with id 161 most used transportation_mode is walk (22)
user with id 163 most used transportation_mode is walk (1587)
user with id 167 most used transportation_mode is walk (392)
user with id 170 most used transportation_mode is walk (10)
user with id 174 most used transportation_mode is car (4)
user with id 175 most used transportation_mode is walk (5)
user with id 179 most used transportation_mode is walk (163)

In [143]:
df.drop(["amount_used"], axis=1, inplace=True)
df

    user_id transportation_mode
25      010                walk
35      020                bike
125     021                 car
17      052                 bus
108     053                walk
..      ...                 ...
7       167                walk
130     170                walk
196     174                 car
180     175                walk
23      179                walk

[69 rows x 2 columns]

In [ ]:
import os

counter = 0
for folder in (os.listdir(os.path.join("..", "dataset", "Data"))):
    for filename in os.listdir(os.path.join("..", "dataset", "Data", folder, 'Trajectory')):
        counter += 1

counter

18669